html {
    background: url('../images/bg1.png') top left repeat #dfdfdf;
    height: 100%;
}
body {
    background-image: url('../images/bg2.png');
    background-repeat: repeat-y;
    background-position: top center;
    background-color: transparent;
    min-height: 100%;
}
.navbar-default {
	background-color: white;
    border-color: #dddddd;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}
.navbar>.container .navbar-brand {
	background: url('../images/logo.png') center left no-repeat transparent;
	background-size: auto 45px;
	padding-left: 30px;
}
h2.tit-general {
	border-bottom: 1px dashed #00857C;
	position: relative;
	margin: 0 0 40px 0;
}
h2.tit-general:before {
	content: '';
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-style: solid;
	border-width: 25px 25px 0 0;
	border-color: #00857C transparent transparent transparent;
	position: absolute;
	left: 0;
	bottom: -25px;
}
/* Home */
.header{
    background-image: url('../images/banner.png');
    margin-bottom: 30px;
}
.header h1 {
    text-shadow: 0px 0px 5px rgba(0,0,0,0.80);
    color: white;
    padding: 30px 0px;
}
/* Login */
#login {
	padding: 25px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.435);
	background: white;
	border-radius: 10px;
}
#login h2 {
	margin: 0px 0px 10px -25px;
	border-left: 5px solid #00857C;
	padding: 0px 0px 0px 20px;
}
/* Media Query's */
@media (max-width: 760px) {
	body {
		background-size: 760px auto;
	}
}
@media (min-width: 768px) {
	body {
		background-size: 768px auto;
	}
}
@media (min-width: 992px) {
	body {
		background-size: 992px auto;
	}
}
@media (min-width: 1200px) {
	body {
		background-size: 1200px auto;
	}
}